@font-face {
    font-family: 'Dayrom';
    src: url('../fonts/dayrom.ttf');
        font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BallparkWeiner';
    src: url('../fonts/ballpark.ttf');
        font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlexBrush';
    src: url('../fonts/AlexBrush-Regular.ttf');
        font-weight: normal;
    font-style: normal;
}

body{
    /*background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);*/
    /* Mozilla Firefox */ 
    /*background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);*/
    /* Opera */ 
    /*background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);*/
    /* Webkit (Safari/Chrome 10) */ 
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));*/
    /* Webkit (Chrome 11+) */ 
    /*background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);*/
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%) no-repeat;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
}

.page-header{
    padding: 0em 0em 0em;
    margin: -15px 0px 20px;
    background: url('../images/separateur.png') repeat-x bottom;

}

/*#titre_principal{
    display: inline-block;
}*/

header h3{
    font-family: AlexBrush, Dayrom, serif;
    font-size:40px;
    margin-left: 0.2em;

    /*font-weight: normal;*/

}
.container section article .newstitle{
    /*width: 90%;*/
    margin-top: 1em;
    margin-bottom: 1em;
}
.container #news .well{
    color:#000;
}
.container section{

    background-color: #212830;
    color:white;
    padding:0em 2.5em 0em;
}
.container section article .ico-news{
    /*width: 10%;*/
    /*height:12.3%;*/
    padding: 0em;
}

.container section article{
    font-size: 13px;
    vertical-align: top;
    text-align: justify;
}

.container section span{
    text-align: center;
    padding: 0em 0.5em 0em;   

    background-color: #1B1D20;
    box-shadow: 4px 4px 3px #09090B;
    border-radius: 7px;
    border: 0em;
    color: white;
    /*font-size: 1em;*/
}
.container section span a{
    /*color: white;*/
}


.container section .pager li a{

    text-align: center;
    /*padding: 1em 0.5em 0em;   */
    box-shadow: 4px 4px 3px #09090B;
    /*border-radius: 7px;*/
    border: 0em;
}

.container section .pager .active > a{

    background-color: #222;
    color: #FFC203;
}

.container section .pager .disabled > a{

    pointer-events: none;
    cursor: default;
    background-color: #222;

}

.container section .pager .active > a:hover{
    background-color: #000;
}


footer{
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
    height: 2em;
    margin-top: 2em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*#photo_ATOMSK{
    background-color: black;
    box-shadow: 5px 8px 8px #1c1a19;
    border-radius: 7px;
    margin-left: 0.5em;
    margin-right:0.5em;
    margin-bottom: 1.5em;*/

.userinput{
    margin: 1em 1em 1em;
}



.input-sm{
    width: 100%;
    padding: 5px 10px;
    margin: 0px 1px 5px;
    font-family: Titillium,sans-serif;
    line-height: 2.4rem;
    color: #FFF;
    border-radius:none;
}