@font-face {
    font-family: 'DINregular';
    src: url('../fonts/din-regularalternate.otf');
}

@font-face {
    font-family: 'lokiCola';
    src: url('../fonts/lokicola.ttf');
}

.navbar-inverse{
    /*background-color: #000;*/
    /*background-color: #E55B53;*/
    font-family:"DIN-regular";
    color: #FFF;
    border: 0px;
    border-radius: 0;

}
/*.navbar-header,.navbar-nav{
    margin-top: 9px;
   
}*/

.navbar-inverse .navbar-nav li .bar,#btn-login{
    font-size: 13px;
    font-family:"DINregular",impact;
    color: #FFF;
    font-weight: bold;
}

.navbar-inverse .navbar-brand{
    padding-top: 20px;
    font-size: 25px;
    font-family:"lokicola",impact;
    color: #FFF;
}
.navbar-inverse .navbar-brand:hover{
    background-color: #FFF;
    color:#000;
}

.navbar-inverse .navbar-nav li:hover,.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > .dropdown  > .bar:hover{

    background-color: #000;
    color:#FFF;
    /*background-color: #555;*/
}


/* Le focus activé quand le dropmenu est ouvert */
.navbar-inverse .navbar-nav > .open > a:focus{
    background-color: #000;
    color:#FFF;
}
.dropdown-menu{
    border: none;
}
.dropdown-menu li a {
    font-family:"DINregular",impact;
    color: #FFF;
    font-size: 12px;
    font-weight: none;
    padding: 1px 20px, 0px;
}
.dropdown-menu  li a:hover{
    background-color: #555;
}

.open .dropdown-menu {
    background-color: #333;
    color:#222;
}

.dropdown-menu .separator {
    margin: -5px 0px 0px;
    height: 2px;
    background-color: #FFC203;
    border-color: #FFC203;

}
.dropdown-menu .divider{
    margin: 0px;
    height: 0.9px;
}

.dropdown-header{
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
}
.navbar .navbar-brand{
    margin-right: -5px;
}
#logo1{ 
    /*max-height: 40px;*/
    /*max-width: 30%; */
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0px;
    margin-left: -20px;
    margin-right: -12px;
    /*margin-right: 10px;*/
    display: inline-block;
}
.navbar .navbar-brand label{
    margin-left:5px;
    font-weight: 100;
}

.topbar-right {
    float: right;
}
.topbar-search input {
    /*float: left;*/
    /*position: absolute;*/

    /*top: 0px;
    left: 34px;
    right: 0px;*/
    background: #FFF repeat scroll 0% 0%;
    /*background-color:;*/
    border: medium none;
 /*   height: 32px;
    width: 100%;
    padding: 0px 5px;*/
    color: #6D7A8B;
}

.form-search {

}
.navbar-form {
    margin: 10px -15px;
}
.icon-search {
    color: #FFF;
    background: #78AB4E none repeat scroll 0% 0%;
    text-shadow: none;
    /*position: absolute;*/
    top: 2px;
    left: 0px;
    width: 22px;
    /*height: 32px;*/
    text-align: center;
    line-height: 22px;
    /*font-weight: normal;*/
    /*display: inline-block;*/
    transition-property: font-size;
    transition-duration: 0.3s;
}